.status.checked {
    padding: 10px;
    margin: 10px;
    background:  url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sign-check-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#divMenu {
    padding: 0em;
    margin: 0em;
    left: 0em;
    top: 0em;
    display:none;
    z-index: 1;
    position: fixed;
}

h1 {
    font-size:1.1em;
    display: block;
}

h2 {
    font-size:1em;
    background-color: pink;
}

label{
    width: 3em;
}

#inputColor {
    min-height: 2em;
    font-size: 4em;
}

#divLocalStorage textarea{
    padding: 0.1em;
    min-height: 30em;
    font-size: 0.7em;
}