.status.checked {
    padding: 10px;
    margin: 10px;
    background:  url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sign-check-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

div.menu {
    padding: 1em;
    display:block
    z-index: 1;
    position: fixed;
    min-width: 30em;
    max-width: 90%;
}

h1 {
    font-size:1.1em;
}

label{
    width: 3em;
}
